<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cmput301w21t06.crowdfly">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrowdFly">
        <activity android:name=".Views.GenerateQRActivity"></activity>
        <activity
            android:name=".Views.PostCommentActivity"
            android:parentActivityName=".Views.QuestionThreadActivity"/>
        <activity
            android:name=".Views.QuestionThreadActivity"
            android:parentActivityName=".Views.ViewQuestionLogActivity"/>
        <activity
            android:name=".Views.AskQuestionActivity"
            android:parentActivityName=".Views.ViewQuestionLogActivity"/>
        <activity android:name=".Views.ViewQRActivity" />
        <activity android:name=".Views.ViewLocationActivity" />
        <activity
            android:name=".Views.searchUserActivity"
            android:label="@string/title_activity_search_user"
            android:parentActivityName=".Views.MainActivity" />
        <activity
            android:name=".Views.ViewQuestionLogActivity"
            android:parentActivityName=".Views.ViewTrialLogActivity" />
        <activity android:name=".Views.UserProfileActivity" />
        <activity
            android:name=".Views.ViewStatisticActivity"
            android:parentActivityName=".Views.ViewTrialLogActivity" />
        <activity android:name=".Views.NewTrialActivity" />
        <activity
            android:name=".Views.ViewTrialLogActivity"
            android:label="@string/title_activity_view_trial_log"
            android:launchMode="singleTask"
            android:parentActivityName=".Views.ViewExperimentLogActivity" />
        <activity
            android:name=".Views.AddExperimentActivity"
            android:label="AddExperimentActivity" />
        <activity
            android:name=".Views.AuthActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Views.ViewExperimentLogActivity"
            android:parentActivityName=".Views.MainActivity" />
    </application>

</manifest>